.coconut-background {
  position: relative; 
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.coconut-background::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../Assets/coconut-game-background.png') no-repeat center;
    background-size: cover;
    /*background-attachment: fixed;*/
    opacity: 0.75; 
    z-index: -1; 
  }

/* Question container styling */
.question-container {
  text-align: center;
  background-color: rgba(182, 129, 29, 0.5);
  padding: 0.2vh 5vw;
  border-radius: 1vh;
  margin-top: 3vh;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  /* Header styling */
h2 {
    font-family: 'Pacifico', sans-serif;
    color: #58340c; 
    font-size: clamp(16px, 3vw, 28px); 
    text-align: center; 
  }
  
.question {
    font-size: clamp(14px, 2.5vw, 24px); 
    font-weight: bold;
  }

.word-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: clamp(10px, 2vh, 20px); 
}

.word {
  font-family: 'Pacifico', sans-serif; 
  color: #58340c;
  font-weight: bold;
  font-size: clamp(14px, 2.5vw, 24px); 
}

/* Typed letters box styling */
.typed-letters-box {
    position: absolute; 
    bottom: clamp(10px, 2vh, 20px); 
    left: 50%; 
    transform: translateX(-50%); 
    width: clamp(200px, 90%, 600px); 
    height: clamp(50px, 10vh, 100px); 
    background-color:  rgba(182, 129, 29, 0.5); 
    border-radius: clamp(10px, 1vw, 20px); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: clamp(5px, 1vh, 10px); 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
  }

.typed-letter {
    position: absolute; 
    top: -200%; 
    left: 50%; 
    transform: translateX(-50%); 
  
    font-family: 'Pacifico', sans-serif; 
    font-size: clamp(16px, 3vw, 32px); 
    color: #58340c; 
  }

/* Individual letter slot styling */
.letter-slot {
    position: relative;
    width: clamp(30px, 8vw, 60px); 
    height: clamp(5px, 1vh, 10px); 
}

.letter-slot::before {
    content: "";
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 100%;
    height: clamp(3px, .5vh, .8vh); 
    background-color: #58340c; 
}

.letter-slot:not(:last-child) {
    margin-right: clamp(10px, 2vw, 20px);
}

.letter-slot.glow-red {
  animation: glow-red 1s ease-in-out;
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 20px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}

.coconut-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 100%; 
    height: clamp(80vh, 30%, 90vh);
}

.coconut{
    background-image: url('../Assets/coconut.png');
    width: clamp(50px, 5vw, 100px); 
    height: clamp(50px, 6vw, 100px); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.coconut-letter{
    font-family: 'Pacifico', sans-serif; 
    font-size: clamp(16px, 2.5vw, 32px); 
    color: #f3e6d4;
}

.score-counter{
  position: absolute;
  top: clamp(10px, 2vh, 20px);
  right: clamp(10px, 2vw, 20px);
  font-size: clamp(16px, 2vw, 24px);
  font-family: 'Pacifico', sans-serif;
  background-color: rgba(182,129,29,0.8);
  padding: clamp(5px, 1vh, 10px);
  border-radius: clamp(5px, 1vw, 15px);
  }

.win-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(24px, 4vw, 48px);
  font-weight: bold;
  color: #58340c;
  background-color: rgba(255, 255, 255, 0.8);
  padding: clamp(10px, 2vh, 20px);
  border-radius: clamp(10px, 1vw, 20px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Attempts container */
.attempts-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.attempt-image {
  width: 40px;
  height: 40px;
  background-image: '../Assets/coconut_lives.png'; /* Replace with your image using background-image */
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

