@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Page Layout */
.home-page {
  background-image: url('./Assets/beach-background-blend.jpeg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 200vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-align: center;
  overflow: auto;
  padding-top: 50px;
}

.content-container {
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
}

/* Heading Styles */
.headinghome {
  margin-top: 0;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-family: 'Sora', sans-serif;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
}

.subtitle {
  font-size: 1.125rem;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));

}

/* Level Grid */
.level-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.level-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.level-item:hover {
  transform: scale(1.1);
}

/* Level Images */
.level-image-container {
  position: relative;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.4));
}

.level-number-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-number {
  font-size: 1.25rem;
  font-weight: 700;
}

.level-text {
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 0.5rem;
  text-align: center;
}

/* Button Styles */
.button-container {
  margin-top: 2rem;
  text-align: center;
}

.primary-button {
  background-color: #3b82f6;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.primary-button:hover {
  background-color: #2563eb;
}